@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Product Details</h2>
<h4>Id: @Model.Id</h4>
<h4>Name: Product @Model.Id</h4>
<br /> <br />

<a href="/product" class="btn btn-secondary">Click to go back</a>
