
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
@Html.ValidationSummary()

<form method="post" action="">
    <h4>Username</h4>
    <input type="text" id="username" name="Username" placeholder="Username" class="form-text" />
    <br />
    <span class="text-bg-danger">@Html.ValidationMessage("Username")</span>
    <br />

    <h4>Password</h4>
    <input type="password" id="password" name="Password" placeholder="Password" class="form-text" />
    <br />
    <span class="text-bg-danger">@Html.ValidationMessage("Password")</span>
    <br />

    <input type="submit" value="Login" class="btn btn-primary" />
</form>

