/* Box styles */
.box {
  height: 100px; /* Fixed height */
  width: 200px; /* Fixed width */
  margin: 20px; /* Space outside */
  padding: 20px; /* Space inside */
  border: 4px solid red; /* Solid border */
  border-radius: 10px; /* Rounded corners */
  background-color: darkgreen; /* Background color */
}

/* Text styles */
.styled-text {
  color: white; /* Text color */
  font-size: 20px; /* Text size */
  font-weight: bold; /* Bold text */
  font-family: Arial, sans-serif; /* Font type */
  font-style: italic; /* Italic text */
  text-align: center; /* Center text */
  text-decoration: underline; /* Underline text */
}

/* Button styles */
.hidden-btn {
  border: 2px solid black; /* Solid border */
  z-index: 10; /* Layer order */
  /*visibility: hidden; */
  /* Hide button */
}
