
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<form method="post" action="">

    <label class="form-label" for="Name">Name : </label>
    <input class="form-control" type="text" id="Name" name="Name" placeholder="Name" />
    <br />

    <label class="form-label" for="Id">Id : </label>
    <input class="form-control" type="text" id="Id" name="Id" placeholder="Id" />
    <br />

    <label class="form-label" for="Dob">Date of Birth : </label>
    <input class="form-control" type="date" id="Dob" name="Dob" placeholder="Date of Birth" />
    <br />

    <label class="form-label" for="Email">Email : </label>
    <input class="form-control" type="email" id="Email" name="Email" placeholder="Email" />
    <br />

    <input class="btn btn-primary" type="submit" value="Submit" />
</form>